.container-section {
	width: 1143px;
	height: 570px;
	margin: 180px auto;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.background {
	width: 100%;
	height: auto;	
	background: linear-gradient(
			to bottom,
			#fff 0,
			#fff 46.4%,
			#4864c0 40%,
			#4864c0 85%,
			#fff 63%,
			#fff 94%
		)
		no-repeat;
	background-size: 50%;
}

.container-regina {
	width: 570px;
	
	
}

.container-regina h2 {
	width: 435px;
	height: 136px;
	display: block;
	padding-top: unset;
	margin-bottom: 15px;
	margin-top: 10px;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-family: "Montserrat", sans-serif !important;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 130%;
	color: #1d2f8a;
}

.container-regina img {
	width: 570px;
	height: 570px;
	left: 160px;
	top: 1024px;

	filter: drop-shadow(0px 4px 57px rgba(0, 0, 0, 0.25));
}

.container-pontos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 20px;
	width: 90%;
	max-width: 500px;
	margin: auto;
}

.container-icons {
	text-align: center;
}

.container-icons em {
	text-align: center;
	color: #1d2f8a;
	font-weight: 600;
	font-style: unset;
	justify-content: center;
}

.container-icons img {
	width: 100px;
	display: block;
	margin: auto;

	max-width: 100%;
}
